<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Nuovo stato/nazione', new_paese_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th width="57%">Descrizione</th>
            <th width="10%">Tipo</th>
            <th width="8%">C.F.</th>
            <th width="10%">Pref.P.I.</th>
            <th width="15%"></th>
          </tr>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @paeses unless @paeses.empty? %>
        </tbody>
      </table>
      <%= will_paginate @paeses %>
    </div>
  </div>
</div>
