<h1>Elenco stati/nazioni</h1>
<table>
  <tr>
    <th>Descrizione</th>
    <th>Tipo</th>
    <th>Codice belfiore(CF)</th>
    <th>Prefisso P_Iva</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @paeses %>
  <%= render :partial => 'line', :collection => @paeses unless @paeses.empty? %>
</table>

<br />

<%= link_to 'Nuovo stato/nazione', new_paese_path %>
