<%= render :partial => 'shared/page_title', :locals => {:record => @localita} %>
<%= render 'form' %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Visualizza', @localita, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
