<h1>Lista Causali</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Descrizione</th>
    <th>Tipologia</th>
    <th>Impatto sul magazzino</th>
    <th>Movimento contabile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @causmags %>
  <%= render :partial => 'line', :collection => @causmags unless @causmags.empty? %>
</table>

<br />

<%= link_to 'New Causmag', new_causmag_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>