<%= render :partial => 'shared/main_title', :locals => {:t => @title, :record => nil} %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to "Nuova Causale", new_causmag_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th width="10%">Grp</th>
            <th width="55%">Descrizione</th>
            <th width="10%">Tipo</th>
            <th width="5%">Mag</th>
            <th width="5%">Cnt</th>
            <th width="15%"></th>
          </tr>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @causmags unless @causmags.empty? %>
        </tbody>
      </table>
      <%= will_paginate @causmags %>
    </div>
  </div>
</div>
