<h1>Elenco Causali di magazzino</h1>
<table>
  <tr>
    <th>Azienda</th>
    <th>Gruppo</th>
    <th>Descrizione</th>
    <th>Tipo</th>
    <th>Magazzino</th>
    <th>Mag.origine (default)</th>
    <th>Mag.destin. (default)</th>
    <th>Contabile</th>
    <th>Causale contabile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @causmags %>
  <%= render :partial => 'line', :collection => @causmags unless @causmags.empty? %>
</table>

<br />

<%= link_to 'New Causmag', new_causmag_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>