table {
  thead, tbody, tfoot {
    tr {
      th td {
        padding:0px 10px;
        &.float {
          text-align: right;}
        &.integer {
          text-align: right;}
        &.currency {
          text-align: right;}}}}}

