<tr>
  <td><%= line.anagen.denomin %></td>
  <td class="float"><%= "#{sprintf('%05.2f', line.provv)}%" %></td>
  <td>
    <%= render :partial => 'shared/btn_vmc', :locals => {:v_edit => edit_agente_path(line), :line => line} %>
  </td>
</tr>
