<h1>Listing mags</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Codice</th>
    <th>Descriz</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @mags %>
  <%= render :partial => 'line', :collection => @mags unless @mags.empty? %>
</table>

<br />

<%= link_to 'New Mag', new_mag_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %> 
