<dl class="tabs">
  <dd class="active"><a href="#docs">Documenti</a></dd>

  <% if @article.libro? || @article.rivista? || @article.evento? %>
    <dd>
      <a href="#event">
        <% if @article.libro? %>
         Registro tirature
        <% elsif @article.rivista? %>
          Numeri rivista
        <% elsif @article.evento? %>
          Data evento / corso
        <% end %>
      </a>
    </dd>
  <% end %>
</dl>

<ul class="tabs-content">
  <li id="docsTab" class="active">
  </li>

  <li id="eventTab">
    <% if @article.libro? %>
      <%= render partial: "event_states_book", locals: {events: @events} %>
    <% elsif @article.rivista? %>
      <%= render partial: "event_states_magazine", locals: {events: @events} %>
    <% elsif @article.evento? %>
      <%= render partial: "event_states_course", locals: {events: @events} %>
    <% end %>
  </li>
</ul>
