<%= render 'form' %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Visualizza', @article, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
