<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<div class="button-bar">
  <ul class="button-group">
    <li><%= link_to 'INDIETRO', :back, :class => "button radius small back foundicon-left-arrow" %></li>
  </ul>
</div>
<h2> Nessun movimento di <%= @tp == 'M' ? " Magazzino " : " Vendita " %> trovato </h2>
