<ul class="button-group">
  <li>
    <%= link_to 'NUOVA', new_scadenza_path(:id => @tesdoc.id), :class => "button radius small new foundicon-add-doc" %>
  </li>
</ul>
<% unless @scadenzas.nil?||@scadenzas.empty? %>
  <table class="full-tab">
    <thead>
      <tr>
        <th class="date" width="10%"> Data </th>
        <th width="15%"> Importo </th>
        <th width="30%"> Descrizione </th>
        <th width="15%"> Tipo </th>
        <th class="numeric" width="10%"> Stato </th>
        <th width="15%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => '/scadenzas/line', :collection => @scadenzas %>
    </tbody>
  </table>
  <%= will_paginate @scadenzas %>
<% else %>
  <h4> Nessuna scadenza presente </h4>
<% end %>


