<% unless @scadenzas.nil?||@scadenzas.empty? %>
  <table class="full-tab">
    <thead>
      <tr>
        <th width="10%"> Documento </th>
        <th width="25%"> Cliente/fornitore </th>
        <th class="date" width="10%"> Data scad. </th>
        <th width="8%"> Importo </th>
        <th width="20%"> Descrizione </th>
        <th width="7%"> Tipo </th>
        <th class="numeric" width="7%"> Stato </th>
        <th width="12%"></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => '/scadenzas/doc_line', :collection => @scadenzas %>
    </tbody>
  </table>
  <%= will_paginate @scadenzas %>
<% end %>


