<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Nuovo CodiceIva/Esenzione', new_iva_path, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th style="text-align: right; width: 8%">Codice</th>
            <th width="12%">Descr.</th>
            <th width="53%">Descr.Estesa</th>
            <th style="text-align: right; width: 5%">Aliquota</th>
            <th width="5%">Esenzione</th>
            <th width="17%"></th>
          </tr>
        </thead>
        <tbody>
            <%= render :partial => 'line', :collection => @ivas unless @ivas.empty? %>
        </tbody>
      </table>
      <%= will_paginate @ivas %>
    </div>
  </div>
</div>
