<ul class="button-group">
  <li>
    <% if @spediz %>
      <%= link_to 'MODIFICA SPEDIZ/PAGAM.', ges_datisped_tesdoc_path, :class => "button radius small modify foundicon-edit" %>
    <% else %>
      <%= link_to 'INSERISCI SPEDIZ/PAGAM.', ges_datisped_tesdoc_path, :class => "button radius small new  foundicon-add-doc" %>
    <% end %>
  </li>
</ul>
