<%= render :partial => 'shared/page_title', :locals => {:record => @spediz} %>
<%= render 'form' %>
<ul class="button-group [radius, rounded]">
  <li>
   	<%= link_to 'Indietro', @spediz.tesdoc, :class => "button radius small" %>
  </li>
</ul>
