<span class="field_mag">
  <span class="field_magsrc">
    <b> <%= select(:tesdoc, :nrmagsrc, findmags("S", tesdoc.causmag_id, tesdoc.conto_id).invert, :selected => causmag.nrmagsrc) %> </b>
  </span>
  <span class="field_magdst">
    <b> <%= select(:tesdoc, :nrmagdst, findmags("D", tesdoc.causmag_id, tesdoc.conto_id).invert, :selected => causmag.nrmagdst) %> </b>
  </span>
  <br />
</span>
