<h1>MENU' GESTIONE DOCUMENTI</h1>
<br />
<br />
<ul>
<h2>
<% Tesdoc::TIPO_DOC.each {|k, v| %>
<li> <%= link_to v.upcase, {:controller => 'tesdocs', :action => 'index', :tipo_doc => k} %> </li>
<br />
<br />
<br />
<br />
<% } %>
<li> <%= link_to 'MENU PRINCIPALE', :controller => "menu", :action => "home" %> </li>
</h2></ul>
