<h1>MENU' GESTIONE DOCUMENTI</h1>
<br />
<br />
<ul>
<h3>
<% Tesdoc::TIPO_DOC.each {|k, v| %>
<li> <%= link_to v.upcase, {:controller => 'tesdocs', :action => 'index', :tipo_doc => k} %> </li>
<br />
<br />
<br />
<br />
<% } %>
</h3></ul>
<h2>
<b> <%= link_to 'MENU PRINCIPALE', :controller => "menu", :action => "home" %> </b>
</h2>

