<h1>Menu' Gestione documenti</h1>
<br \>
<br \>
<br \>
<br \>
<% Tesdoc::TIPO_DOC.each {|k, v| %>
  <%= link_to v, {:controller => 'tesdocs', :action => 'filter', :tipo_doc => k} %>
  <br \>
  <br \>
  <br \>
<% } %>

<%= link_to 'MENU PRINCIPALE', :controller => "menu", :action => "home" %>
