<h1>Elenco DOCUMENTI</h1>
<br />
<br />

<table>
  <tr>
    <th>Azienda|</th>
    <th>AnnoEse|</th>
    <th>Tipo doc|</th>
    <th>Nr. doc|</th>
    <th>Data documento|</th>
    <th>Descrizione documento|</th>
    <th>Causale documento|</th>
    <th>ContoAnagrafica|</th>
    <th>Sconto|</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# @tesdocs.each do |tesdoc| %>
  <%= render :partial => 'show_tesdoc', :collection => @tesdocs unless @tesdocs.empty? %>
<%# end %>
</table>

<br />

<%= link_to 'Aggiungi documento', new_tesdoc_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>