<h1>Nuovo Documento (<%= Causmag::TIPO_DOC[se_tipo_doc.to_i] %>) </h1>
<br/>

<%= render 'form' %>

<%= link_to 'Indietro', :back %>
<%#= link_to 'Indietro', {:controller => 'tesdocs', :action => 'index', :tipo_doc => se_tipo_doc} %>
