<%= render :partial => 'shared/page_title', :locals => {:record => nil} %>
<ul class="button-group">
  <li>
    <%= link_to 'NUOVO', new_user_path, :class => "button radius small new foundicon-add-doc" %>
  </li>
</ul>
<% unless @users.nil?||@users.empty? %>
  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>E-Mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'line', :collection => @users %>
    </tbody>
  </table>
  <%= will_paginate @users %>
<% end %>
