<% if f.errors.any? %>
  <div class="tvelwe columns end error">
    <div id="error_explanation">
      <h2><%= pluralize(f.errors.count, "errore", "errori") %>
        :Salvataggio dati NON riuscito:
      </h2>
      <p>Ci sono problemi con le informazioni seguenti:</p>
      <ul>
        <% f.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
