<div class="row">
  <div class="twelve columns">
    <div class="panel pagetitle">
      <%= @title %>
    </div>
    <%= render :partial => 'shared/error_messages', :locals => {:f => record} unless record.nil? %>
  </div>
</div>
