<dl class="tabs">
  <dd><a href="#tesdocs">Documenti</a></dd>
  <dd><a href="#prenots">Prenotazioni</a></dd>
  <dd><a href="#events">Corsi / Eventi</a></dd>
  <dd><a href="#subscrib">Abbonamenti</a></dd>
</dl>

<ul class="tabs-content">
  <li id="tesdocsTab">
    <%= render partial: "tesdocs", locals: { tesdocs: @tesdocs} %>
  </li>

  <li id="prenotsTab">
    <%= render partial: "events", locals: { events: @bookings} %>
  </li>

  <li id="eventsTab">
    <%= render partial: "events", locals: { events: @courses} %>
  </li>

  <li id="subscribTab">
    <%= render partial: "events", locals: { events: @subscriptions} %>
  </li>
</ul>
