<h1>Elenco Anagrafiche soggetti</h1>
<table>
  <tr>
    <th>Codice</th>
    <th>Tipo</th>
    <th>Denomin</th>
    <th>Codfis</th>
    <th>Pariva</th>
    <th>Telefono</th>
    <th>E-Mail</th>
    <th>Fax</th>
    <th>Sito Web</th>
    <th>Sconto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @anagens %>
  <%= render :partial => 'line', :collection => @anagens unless @anagens.empty? %>
</table>

<br />

<%= link_to 'Nuova Anagrafica', new_anagen_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>
