<h1> <%= @tp == 'M' ? "Movimenti di magazzino" : "Vendite per titolo" %> </h1>
<br/>
<br/>
<br/>
<br/>
<br/>

<h2> Nessun movimento di <%= @tp == 'M' ? " Magazzino " : " Vendita " %> trovato </h2>

<%= link_to 'Indietro', :back %>
