/* Alex */
label {
  font-weight: bold;
}

hr {
  margin: 10px;
}

panel {
}

input[type="text"]
{
  padding:2px;
  height:20px;
}

select {
  margin-bottom: 10px;
}

fieldset {
  padding-top: 10px;
  padding-bottom: 10px;
}

td{
  padding: 2px;
}
