
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


/* Personalizzazione di Foundation */

.nav-bar
{
  background-color: #000;
  color: rgba(18, 60, 108, 0.7);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* Alex */

/* Setto la larghezza giusta per i campi date_field e time_field
   le variabili $datefield e $timefield devono essere aggiornate
   con gli eventuali nuovi campi date/time */
$datefield: anagen_dtnas, spediz_dtrit, tesdoc_data_doc;
$timefield: spediz_orarit;

$wday: 40px;
$wmonth: 40px;
$wyear: 55px;
$whour: 40px;
$wminute: 40px;

@each $v in $datefield {
  select {
    &##{$v}_3i{width: $wday;}
    &##{$v}_2i{width: $wmonth;}
    &##{$v}_1i{width: $wyear;}
  }
}

@each $v in $timefield {
  select {
    &##{$v}_4i{width: $whour;}
    &##{$v}_5i{width: $wminute;}
  }
}

.field_with_errors {@extend .error}


/* Sulla table html si deve aver classificato il tipo di campo se: intero, decimale o valuta */
table {
  thead tr th, tbody tr td, tfoot tr td {
    padding:0px 10px;
    &.float, &.integer, &.currency {
      text-align: right;}}}

label
{
  font-weight: bold;
}

hr
{
  margin: 10px;
}

select
{
  margin-bottom: 10px;
  height:20px !important;
}

fieldset
{
  padding-top: 10px;
  padding-bottom: 10px;
}

input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"]
{
  padding:2px;
  height:20px;
}

div.panel
{
  padding:10px;
  margin-top: 10px;
}

/* Personalizzazioni SKYMAX */
/*
div.ftx { margin-bottom: 10px }

.cmd_nav { margin-bottom: 10px}

.logout { float: right} 

.full-tab { width: 100% }

td.icon-column, th.icon-column{ width: 3%}
*/

/* Prove Alex su NAV-BAR */
/*
ul.nav-bar
{
  font-size: 12px !important;
  height:30px !important;
}

li.has-flyout
{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height:30px !important;
}

a {font-size:12px !important;}


ul.nav-bar {
  background-color: grey;
  white-space: nowrap;

list-style-type: none;
margin-top: 10px;
}
*/
