<%= render :partial => 'shared/page_title', :locals => {:record => @rigdoc} %>
<%= render 'form' %>
<ul class="button-group">
  <li>
    <%= link_to 'Visualizza', @rigdoc, :class => "button radius small" %>
  </li>
</ul>
