<%= render :partial => 'shared/main_title', :locals => {:t => @title, :record => @rigdoc} %>
<%= render 'form' %>
<div class="row">
  <div class="twelve columns">
    <ul class="button-group [radius, rounded]">
      <li>
        <%= link_to 'Visualizza', @rigdoc, :class => "button radius small" %>
      </li>
    </ul>
  </div>
</div>
