<%= render :partial => 'shared/page_title', :locals => {:record => @conto} %>
<%= render 'form' %>
<ul class="button-group [radius, rounded]">
  <li>
    <%= link_to 'Visualizza', @conto, :class => "button radius small" %>
  </li>
</ul>
