<h1>Listing contos</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Annoese</th>
    <th>Codice</th>
    <th>Descriz</th>
    <th>Tipoconto</th>
    <th>Cntrpartita</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'line', :collection => @contos unless @contos.empty? %>
</table>

<br />

<%= link_to 'New Conto', new_conto_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>