<h1>Elenco Conti</h1>

<table>
  <tr>
    <th>Azienda</th>
    <th>Annoese</th>
    <th>Codice</th>
    <th>Descrizione</th>
    <th>Anagrafica</th>
    <th>Tipoconto</th>
    <th>Cntrpartita</th>
    <th>Sconto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= will_paginate @contos %>
  <%= render :partial => 'line', :collection => @contos unless @contos.empty? %>
</table>

<br />

<%= link_to 'New Conto', new_conto_path %>
- <%= link_to 'Menu', :controller => "menu", :action => "home" %>